stages:
    - test
    - build
    - release

variables:
    DOCKER_USER: $DOCKER_USER
    DOCKER_TOKEN: $DOCKER_TOKEN

# Define a hidden job to be used with extends
# Better than default to avoid activating cache for all jobs
.dependencies_cache:
    cache:
        key:
            files:
                - yarn.lock
        paths:
            - .npm
        policy: pull

#
# Test
#
test:
    stage: test
    image: node:18-alpine
    extends: .dependencies_cache
    cache:
        policy: pull-push
    before_script:
        - apk update && apk add git bash
        - yarn install --cache-folder .npm --prefer-offline
    script:
        - yarn test:coverage
        - unset CI
        - yarn build
    coverage: /All\sfiles.*?\s+(\d+.\d+)/

#
# Release
#
release:
    image: docker:19.03.1
    stage: build
    only:
        - tags
    services:
        - name: docker:19.03.1-dind
          command: ["--experimental"]
    before_script:
        - apk update && apk add bash && apk add git
        - git clone --recurse-submodules https://gitlab.com/music-library/release.git
        - cd release
        - git submodule update --remote backend
        - git submodule update --remote client
    script:
        - docker login -u "$DOCKER_USER" -p "$DOCKER_TOKEN"
        - docker build -t hmerritt/music-library-player:$CI_COMMIT_TAG -t hmerritt/music-library-player:latest .
        - docker push hmerritt/music-library-player
    after_script:
        - docker logout
